<nav class="navbar navbar-expand-md navbar-dark  bg-primary">
  <div class="container">

    <a class="navbar-brand" [routerLink]="['/home']">Date Cyprus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="mr-auto">
        <ul *ngIf="loggedIn()" class="navbar-nav ">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/list']">Matches</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/members']">List</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/messages']">Messages</a>
          </li>
        </ul>
      </div>

      <div dropdown *ngIf="loggedIn()" class="dropdown">
        <a dropdownToggle class="dropdown-toggle text-light">
          Welcome {{authService.decodedToken?.unique_name | titlecase}}
        </a>

        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/member/edit']"> <i class="fa fa-user"></i> Edit profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()"> <i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>

      <form *ngIf="!loggedIn()" #loginForm="ngForm" (ngSubmit)="login()" required class="form-inline mt-2 mt-md-0">
        <input [(ngModel)]="model.username" name="username" class="form-control mr-sm-2" type="text" placeholder="Username">
        <input [(ngModel)]="model.password" required name="password" class="form-control mr-sm-2" type="password"
          placeholder="Password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>

  </div>

</nav>